.dark {
  background-color: rgb(63, 63, 63);
  color: rgb(211, 211, 211);
}

.rounded {
  border-radius: 20px;
}

.large-font {
  font-size: 24px;
}

.medium-font {
  font-size: 18px;
}

.small-font {
  font-size: 14px;
}

button {
  padding: 5px 15px;
  border: none;
}

.login-container {
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 25px;
  margin: auto;
  border: none;
  background-color: rgb(120, 64, 172);
  align-items: center;
  flex-direction: column;
}

.login-container>div>h2 {
  color: rgb(230, 230, 230);
}

.login-button {
  display: flex;
  justify-content: center;
  width: 100%;
  height: max-content;
}

.dashboard-container {
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 25px;
  margin: auto;
  border: none;
  background-color: rgb(120, 64, 172);
  align-items: center;
  flex-direction: column;
}

.dashboard-container>h2 {
  color: rgb(230, 230, 230);
}

.file-container {
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 25px;
  margin: auto;
  border: none;
  background-color: rgb(120, 64, 172);
  align-items: center;
  flex-direction: column;
}

.file-container>h2 {
  color: rgb(230, 230, 230);
}

table {
  background-color: azure;
  padding: 25px 15px;

  border-radius: 25px;
}

tr:nth-child(even) {
  background-color: #7b8081;
}

td {
  text-align: center;
  vertical-align: middle;
}

tfoot>tr>th {
  text-align: left;
}

#shopList {
  border-radius: 25px;
  border: none;
  padding: 10px 15px;
  margin: 10px;
}

.form {
  padding: 25px;
  background-color: azure;
  border-radius: 25px;
}

#file-upload {
  margin-right: 10px;
}

#file-submit {
  border-radius: 10px;
  padding: 5px 10px;
  color: azure;
  background-color: rgb(56, 139, 23);
}

.link {
  color: azure;
}